/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

@font-face {
    font-family: 'open_sanslight';
    src: url(../fonts/OpenSans-Light-webfont.eot);
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url(../fonts/OpenSans-Light-webfont.woff) format('woff'), url(../fonts/OpenSans-Light-webfont.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'robotolight';
    src: url(../fonts/Roboto-Light-webfont.eot);
    src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), url(../fonts/Roboto-Light-webfont.woff) format('woff'), url(../fonts/Roboto-Light-webfont.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'robotoregular';
    src: url(../fonts/Roboto-Regular-webfont.eot);
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url(../fonts/Roboto-Regular-webfont.woff) format('woff'), url(../fonts/Roboto-Regular-webfont.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'glyphiconsregular';
    src: url(../fonts/glyphicons-halflings-regular.eot);
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

.main-content {
    padding: 25px 0 25px 0;
}

.page-header {
    text-transform: uppercase;
    font-size: 32px;
    font-family: robotoregular;
}

.navbar .logo img {
    border-radius: 100px;
    width: 180px;
}

.navbar-btn {
    margin-top: 10px;
}

.navbar-default {
    background-color: #fff;
    border-color: #2e3746;
}

.navbar .navbar-header {
    width: 100%;
}

#block-preproject-main-menu {
    float: right;
    border-right: 1px solid #dee2e6!important;
    margin-right: 15px;
}

.navbar nav ul.navbar-nav > li a {
    padding-top: 27px;
    padding-bottom: 27px;
    text-transform: uppercase;
}

#block-preproject-main-menu ul.navbar-nav > li a.is-active,
#block-preproject-main-menu ul.navbar-nav > li a.active-trail {
    border-bottom: 2px solid;
}

#block-preproject-main-menu ul.dropdown-menu li a {
    border-bottom: unset!important;
}

#block-preproject-main-menu ul.dropdown-menu li a.is-active,
#block-preproject-main-menu ul.dropdown-menu li a.active-trail {
    color: #ff7676;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
}

#block-preproject-main-menu ul.menu li ul.dropdown-menu li {
    float: left;
    width: 100%;
}

.navbar-default .navbar-nav li:hover > .dropdown-menu {
    display: block;
}

.navbar-default .navbar-nav li .dropdown-menu li a:hover {
    color: #ff7676;
}

.navbar-default .navbar-nav li .dropdown-menu {
    padding: 0px;
}

.navbar-default .navbar-nav li .dropdown-menu li a {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #000;
    color: #fff;
}

.navbar-default .navbar-nav li:hover .dropdown-menu li.expanded ul {
    left: 157px;
    top: 0;
    margin: -1px 0 0;
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
}


/** Text Animation **/

@-webkit-keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUpSD {
  -webkit-animation-name: fadeInUpSD;
  animation-name: fadeInUpSD;
}

.view-home-page .flex-caption {
    position: absolute;
    top: 0;
    width: 300px;
    background: rgb(24, 26, 29);
    height: 100%;
    padding: 10px 40px;
}

/* Text Animation End **/

.view-home-page .flex-caption .view-project-type {
    margin-top: 30px;
    color: #fff;
    font-size: 10px;
    border-bottom: 1px solid #ff7676;
    width: 60px;
    text-transform: uppercase;
}

.view-home-page .flex-caption .view-project-title {
    color: #fff;
    text-transform: uppercase;
}

.view-home-page .view-project-address {
    font-size: 10px;
    color: #ff7676;
    margin-bottom: 20px;
}

.view-home-page .view-project-body {
    margin-bottom: 30px;
}

.view-home-page .view-project-body p {
    font-size: 10px;
    color: #fff;
    line-height: 20px;
    text-align: justify;
}

.view-home-page .view-project-floor-plan {
    float: left;
    width: 100%;
    margin-bottom: 40px;
}

.view-home-page .view-project-floor-plan ul {
    padding-left: 0;
}

.view-home-page .view-project-floor-plan ul li {
    float: left;
    list-style: none;
    margin-right: 10px;
}

.view-home-page .view-project-floor-plan ul li .paragraph-formatter {
    grid-gap: 0;
}

.view-home-page .view-project-floor-plan ul li .paragraphs-description .summary-content {
    color: #ff7676;
    font-size: 12px;
}

.view-home-page .view-project-floor-plan ul li .paragraph .field--name-field-apartment-type {
    color: #ff7676;
    font-size: 12px;
}

.view-home-page .view-project-cta {
    width: 100%;
    text-align: center;
}

.view-home-page .view-project-cta a {
    padding: 10px 30px;
    border: 1px solid #ff7676;
    color: #ff7676;
    text-transform: uppercase;
    text-decoration: none;
}

.view-home-page .view-project-cta a:hover {
    color: rgb(24, 26, 29);
    background: #ff7676;
    border: 1px solid #ff7676;
}

.view-home-page .flex-direction-nav a {
    background: #000;
    width: 30px;
    height: 55px;
    margin: -19px -10px 0;
}

.view-home-page .flex-direction-nav a:before {
    color: #fff;
}

.view-home-page .flex-pauseplay {
    margin-top: -5px;
}

.view-home-page .flex-pauseplay a {
    color: #fff;
    height: 24px;
}

.view-home-page .flexslider {
    margin: 0px;
}

#block-callusnow {
    float: right;
    margin: 27px 0;
}

#block-callusnow .call-now a {
    padding: 21px 10px;
    background-color: #ff7676;
    width: 178px;
    border-radius: 27px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.block-views-exposed-filter-blocksearch-page-1 {
    padding: 40px;
    background: #ff7676;
}

.block-views-exposed-filter-blocksearch-page-1 .form-item label {
    float: left;
    width: 100%;
    color: #fff;
    margin-bottom: 6px;
    font-size: 14px;
}

.block-views-exposed-filter-blocksearch-page-1 .form-item {
    width: 270px;
}

.block-views-exposed-filter-blocksearch-page-1 .form-item input {
    width: 100%;
    background: transparent;
    color: #fff;
    border-color: #fff;
    border-radius: unset;
    height: 40px;
}

.block-views-exposed-filter-blocksearch-page-1 .form-item input::placeholder {
    color: #fff;
}

.block-views-exposed-filter-blocksearch-page-1 .form-item .select-wrapper {
    width: 100%;
}

.block-views-exposed-filter-blocksearch-page-1 .form-item .select-wrapper:after {
    color: #fff;
}

.block-views-exposed-filter-blocksearch-page-1 .form-item .select-wrapper select {
    width: 100%;
    background: #ff7676;
    color: #fff;
    border-color: #fff;
    border-radius: unset;
    height: 40px;
}

.block-views-exposed-filter-blocksearch-page-1 .form-actions {
    margin-top: 25px;
}

.block-views-exposed-filter-blocksearch-page-1 .form-submit {
    background: #000;
    border-color: #000;
    border-radius: unset;
    height: 42px
}

.block-views-blockfeatured-projects-block-1 {
    padding: 40px;
    background: #222222;
}

.block-views-blockfeatured-projects-block-1 h2 {
    text-align: center;
    color: #fff;
    font-size: 40px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    position: relative;
}

.block-views-blockfeatured-projects-block-1 .block-title:before {
    position: absolute;
    content: "";
    width: 40px;
    height: 3px;
    left: 49%;
    bottom: 0;
    background-color: #ff7676;
}

.projects-carousal-dark .flexslider {
    border: unset;
    background: transparent;
    position: relative;
}

.projects-carousal-dark .flexslider ul li {
    background: #fff;
    margin-right: 6px!important;
    overflow: hidden;
    float: left;
    -moz-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.projects-carousal-dark .views-field-field-slider-image:hover img {
    transform: scale(1.05);
    overflow: hidden;
    -moz-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.projects-carousal-dark .views-field-field-project-type {
    padding: 0px 20px;
    position: absolute;
    top: 10px;
}

.projects-carousal-dark .views-field-field-project-type .field-content {
    padding: 5px 10px;
    background: #222222;
    color: #fff;
    font-size: 12px;
}

.projects-carousal-dark .views-field-title {
    padding: 0px 20px;
    font-size: 24px;
}

.projects-carousal-dark .views-field-title a {
    color: #222222;
}

.projects-carousal-dark .views-field-title a:hover {
    text-decoration: none;
    color: #000;
}

.projects-carousal-dark .views-field-field-project-location {
    padding: 0px 20px;
}

.projects-carousal-dark .views-field-field-project-city {
    padding: 0px 20px;
}

.projects-carousal-dark .views-field-field-project-city .city-location {
    color: #6d7175;
}

.projects-carousal-dark .views-field-body {
    padding: 0px 20px;
    margin-top: 15px;
    font-size: 12px;
    text-align: justify;
    color: #6d7175;
}

.projects-carousal-dark .views-field-field-floor-plans {
    padding: 0px 20px;
    margin: 15px 0;
    font-size: 12px;
}

.projects-carousal-dark .views-field-field-floor-plans ul {
    padding: 0;
}

.projects-carousal-dark .views-field-field-floor-plans ul li {
    float: left;
    list-style: none;
    margin-right: 10px;
}

.projects-carousal-dark .views-field-field-floor-plans .field-content {
    display: inline-flex;
}

.projects-carousal-dark .views-field-field-floor-plans .field-content .paragraph {
    margin-left: 10px;
    color: #ff7676;
    font-weight: bold;
    float: left;
}

.projects-carousal-dark .views-field-field-floor-plans .field-content .paragraph:first-child {
    margin-left: 0;
}

.projects-carousal-dark .slick__slide .slide__caption {
    padding: 5px;
}

.projects-carousal-dark .slick__slide .slide__caption .slide__data {
    width: 398px;
    background: #fff;
}

.projects-carousal-dark .views-field-field-slider-image {
    margin-bottom: 15px;
}

.projects-carousal-dark .views-field-field-slider-image img {
    height: 180px;
}

.projects-carousal-dark .owl-stage-outer .owl-item {
    background: #fff;
}

#block-views-block-featured-projects-block-1 .owl-nav {
    color: #fff;
    font-size: 40px;
}

#block-views-block-featured-projects-block-2 .owl-nav {
    color: #000;
    font-size: 40px;
}

#block-views-block-featured-projects-block-3 .owl-nav {
    color: #fff;
    font-size: 40px;
}


#block-views-block-featured-projects-block-1 .owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent;
}


#block-views-block-featured-projects-block-2 .owl-theme .owl-nav [class*='owl-']:hover {
    color: #000;
    background: transparent;
}


#block-views-block-featured-projects-block-3 .owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent;
}

.block-views-blockfeatured-projects-block-2 {
    padding: 40px;
    background: #f8f9fa;
}

.block-views-blockfeatured-projects-block-2 h2 {
    text-align: center;
    color: #000;
    font-size: 40px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    position: relative;
}

.block-views-blockfeatured-projects-block-2 .block-title:before {
    position: absolute;
    content: "";
    width: 40px;
    height: 3px;
    left: 49%;
    bottom: 0;
    background-color: #ff7676;
}

.block-views-blockfeatured-projects-block-3 {
    padding: 40px;
    background: #222222;
}

.block-views-blockfeatured-projects-block-3 h2 {
    text-align: center;
    color: #fff;
    font-size: 40px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    position: relative;
}

.block-views-blockfeatured-projects-block-3 .block-title:before {
    position: absolute;
    content: "";
    width: 40px;
    height: 3px;
    left: 49%;
    bottom: 0;
    background-color: #ff7676;
}

.block-views-blockfeatured-projects-block-1 .flex-control-paging li a,
.block-views-blockfeatured-projects-block-3 .flex-control-paging li a {
    background: #f8f9fa;
}

.block-views-blockfeatured-projects-block-1 .flex-control-paging li a.flex-active,
.block-views-blockfeatured-projects-block-3 .flex-control-paging li a.flex-active {
    background: #ff7676;
}

.flex-direction-nav a {
    height: 44px;
}

.view-our-clients .flexslider .field-content img {
    width: 100px;
    height: 50px;
} 

.block-views-blockour-clients-block-1 {
    padding: 40px 0;
    background: #fff;
}

.block-views-blockour-clients-block-1 h2 {
    text-align: center;
    color: #000;
    font-size: 40px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    position: relative;
}

.block-views-blockour-clients-block-1 .block-title:before {
    position: absolute;
    content: "";
    width: 40px;
    height: 3px;
    left: 49%;
    bottom: 0;
    background-color: #ff7676;
}

.block-views-blockblog-block-1 {
    padding: 40px;
    background: #f8f5f0;
}

.block-views-blockblog-block-1 h2 {
    text-align: center;
    color: #000;
    font-size: 40px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    position: relative;
}

.block-views-blockblog-block-1 .block-title:before {
    position: absolute;
    content: "";
    width: 40px;
    height: 3px;
    left: 49%;
    bottom: 0;
    background-color: #ff7676;
}

.view-blog ul li {
    background: #fff;
}

.view-blog .views-field-title {
    padding: 0 15px;
}

.view-blog .views-field-title a {
    text-decoration: none;
    color: #222222;
}

.view-blog .views-field-title a:hover {
    color: #000;
}

.view-blog .views-field-body {
    padding: 0 15px;
    margin-top: 15px;
    font-size: 12px;
    text-align: justify;
    color: #6d7175;
}

.view-blog .views-field-uid {
    padding: 0 15px;
    margin: 15px 0;
    font-size: 12px;
    color: #ff7676;
    font-weight: bold;
    text-transform: uppercase;
}

.view-blog .views-field-uid .blog-author {
    border-left: 1px solid;
    padding-left: 8px;
    margin-left: 6px;
}

.footer {
    margin-top: 0;
    border-top: 1px solid #12171f;
    background: #12171f;
    float: left;
    width: 100%;
    color: #c3c3c3;
    padding: 50px 30px 15px 30px;
}

.block-block-groupfooter-one .logo {
    margin-bottom: 30px;
}

.block-block-groupfooter-one .logo img {
    border-radius: 30px;    
}

.footer .block-views-blockfooter-about-block-1 {
    float: left;
}

.footer .view-footer-about {
    margin-bottom: 30px;
}

.footer .view-footer-about .views-field-body p {
    line-height: 28px;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

.footer .view-footer-about .views-field-body a {
    color: #ffffff;
    text-decoration: none;
}

.footer .view-footer-about .views-field-body a:hover {
    color: #ff7676;
}

.footer .block-social-media-links {
    float: left;
}

.footer .social-media-links--platforms li a span {
    color: #fff;
}

#block-appointment .field a {
    padding: 16px 100px;
    background-color: #D43F3A;
    color: #fff;
    width: 100%;
    font-weight: bold;
    text-decoration: none;
    margin-top: -4px;
    float: left;
}

#block-appointment .field a:hover {
    opacity: 10px;
}

.footer #block-preproject-footer h2 {
    color: #ffffff;
    margin-bottom: 45px;
}

.footer #block-preproject-footer .nav li a {
    color: #c3c3c3;
}

.footer #block-preproject-footer .nav li a.is-active {
    color: #ffffff;
}

.footer #block-preproject-footer .nav > li > a:hover, 
.footer #block-preproject-footer .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
    color: #ffffff;
}

.footer #block-usefulllinks h2 {
    color: #ffffff;
    margin-bottom: 45px;
}

.footer #block-usefulllinks .nav li a {
    color: #c3c3c3;
}

.footer #block-usefulllinks .nav li a.is-active {
    color: #ffffff;
}

.footer #block-usefulllinks .nav > li > a:hover, 
.footer #block-usefulllinks .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
    color: #ffffff;
}

.footer #block-appointment h2 {
    color: #ffffff;
    margin-bottom: 45px;
}

.footer #block-appointment .field--name-body p {
    line-height: 28px;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

.footer #block-footertwo-2 ul.menu--footer-two {
    float: right;
    margin: 0px;
}

.footer #block-footertwo-2 ul.menu--footer-two li {
    float: left;
}

.footer #block-footertwo-2 ul.menu--footer-two li a {
    padding: 0px 5px;
    color: #c3c3c3;
}

.footer #block-footertwo-2 .nav > li > a:hover,
.footer #block-footertwo-2 .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
    color: #ffffff;
}

.footer #block-footertwo-2 .nav > li:first-child {
    border-right: 1px solid #c3c3c3;
}

.footer #block-footertwo {
    padding-top: 10px;
    border-top: 1px solid #000;
    padding-left: 0;
    padding-right: 0;
}

.footer #block-socialmedialinks li {
    padding: unset;
    margin-right: 20px;
}

.footer #block-smartcopyright .field--name-body a {
    color: #fff;
}

.project-listing .project_floor_plan {
    display: flex;
    font-size: 12px;
    color: #ff7676;
    font-weight: bold;
}

.project-listing .project_floor_plan .paragraph .field--name-field-apartment-type {
    margin-left: 10px;
}

.project-listing .views-field-title h2 {
    margin-bottom: 0;
}

.project-listing .views-field-title h2 a {
    color: #12171f;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.project-listing .views-field-title h2 a:hover {
    color: #000000;
    border-bottom: 1px solid #ff7676;
}

.project-listing .views-field-title .city-location {

}

.project-listing .views-field-field-project-type {
    vertical-align: middle;
    float: left;
    height: 100px;
}

.project-listing .views-field-field-project-type .project_type {
    color: #000000;
    margin-left: 10px;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 30px;
}

.project-listing .pagination > .active > a, 
.project-listing .pagination > .active > span, 
.project-listing .pagination > .active > a:hover, 
.project-listing .pagination > .active > span:hover, 
.project-listing .pagination > .active > a:focus, 
.project-listing .pagination > .active > span:focus {
    background-color: #12171f;
    border-color: #12171f;
    color: #ffffff;
}

.project-listing .pagination > li > a, 
.project-listing .pagination > li > span {
    color: #12171f;
}

#block-exposedformsearchpage-1 form {
    text-align: center;
}

.project-listing .views-exposed-form .form-item {
    font-size: 16px;
    margin-right: 2px;
}

.project-listing .views-exposed-form .form-item .control-label {
    float: left;
    width: 100%;
}

.project-listing .views-exposed-form .form-item .select-wrapper {
    width: 100%;
}

.project-listing .views-exposed-form .form-item .select-wrapper select {
    width: 100%;
}

.project-listing .views-exposed-form .form-actions {
    margin-top: 21px
}

.project-listing .views-exposed-form .form-actions .btn-info {
    background-color: #333333;
    border-color: #333333;
    margin-right: 0;
}

.project-listing .views-exposed-form .form-actions .btn-info:hover {
    background-color: #12171f;
    border-color: #12171f;
}

.project-listing .views-exposed-form .form-item  .form-control:focus {
    border-color: #ff7676;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(250 117 117 / 60%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(250 117 117 / 60%);
}

.project-listing .views-exposed-form .form-item  .select-wrapper:after {
    color: #12171f;
}

.project-listing .views-row {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 20px;
}

.project-listing .views-field-field-slider-image {
    width: 234px;
    float: left;
}

.project-listing  .views-field-title {
    padding-left: 100px;
    width: 460px;
    float: left;
    height: 100px;
}

.project-listing .view-content table caption {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #12171f;
}

.page-node-type-projects .logo,
.page-node-type-projects .menu--main,
.page-node-type-projects .page-header,
.page-node-type-projects #block-callusnow {
    display: none;
}

.page-node-type-projects .footer .logo {
    display: block;
}

.page-node-type-projects #block-views-block-project-overview-page-block-1 {
    float: left;
}

.page-node-type-projects #block-views-block-project-overview-page-block-2 {
    float: left;
}

.page-node-type-projects #block-views-block-project-overview-page-block-3 {
    float: right;
    margin: 7px 0px;
}

.page-node-type-projects #block-projectnavigation {
    float: right;
}

.page-node-type-projects #block-projectnavigation ul li {
    float: left;
}

.page-node-type-projects #block-projectnavigation ul {
    margin: 15px 5px;
}

.page-node-type-projects #block-views-block-project-overview-page-block-1 .views-field-field-logo-icon {
    width: 200px;
    padding: 3px;
    margin: 10px 0px
}

.page-node-type-projects #block-views-block-project-overview-page-block-1 .views-field-field-logo-icon img {
    border-radius: 5px;
}

.page-node-type-projects #block-projectnavigation ul li a,
.page-node-type-projects #block-projectnavigation ul li span {
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.65px;
    text-shadow: 1px 1px 20px rgb(0 0 0 / 50%);
    font-family: 'robotoregular';
}

.page-node-type-projects #block-projectnavigation ul li a:hover {
    color: #000;
}

.page-node-type-projects #block-views-block-project-overview-page-block-2 .views-field.views-field-field-logo-text {
    padding: 22px 15px 22px 15px;
}

.page-node-type-projects #block-views-block-project-overview-page-block-2 .views-field.views-field-field-logo-text a {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.page-node-type-projects #block-views-block-project-overview-page-block-3 .views-field-field-contact-number {
    padding: 17px 17px 17px 17px;
    background: #ff7676;
    border-radius: 50px;
}

.page-node-type-projects #block-views-block-project-overview-page-block-3 .views-field-field-contact-number a {
    color: #fff;
    text-decoration: none;
}

.page-node-type-projects .navbar-default {
    background-color: #12171f;
    border-color: #12171f;
}

.page-node-type-projects #block-views-block-project-overview-page-block-4 .flex-caption {
    position: absolute;
    top: 0;
    width: 100%;
    height: -webkit-fill-available;
    background: rgba(0,0,0,.25);
}


.page-node-type-projects #block-views-block-project-overview-page-block-4 .flex-caption .caption {
    position: absolute;
    bottom: 200px;
    left: 100px;
    color: #fff;
    background: rgba(0,0,0,.55);
    padding: 20px;
    width: 550px;
}

.page-node-type-projects #block-views-block-project-overview-page-block-4 .flex-caption .caption h1 {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 1px 1px 30px rgb(0 0 0 / 30%);
    border-bottom: 1px solid #fff;
    line-height: 85px;
    margin: 0;
    margin-top: 18px;
    width: fit-content;
    font-family: 'robotoregular', sans-serif;
}

.page-node-type-projects #block-views-block-project-overview-page-block-4 .flex-caption .caption .city-location {
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: 1px 1px 30px rgb(0 0 0 / 30%);
    line-height: 25px;
    margin-top: 10px;
    font-family: 'robotolight', sans-serif;
}



.page-node-type-projects #block-views-block-project-overview-page-block-4 .flex-direction-nav a {
    background: #000;
    width: 30px;
    height: 55px;
    margin: -19px -10px 0;
}

.page-node-type-projects #block-views-block-project-overview-page-block-4 .flex-direction-nav a:before {
    color: #fff;
}

.page-node-type-projects #block-views-block-project-overview-page-block-4 .flex-pauseplay a {
    color: #fff;
    height: 24px;
}

.page-node-type-projects #block-views-block-project-overview-page-block-4 .views-field.views-field-nothing-1 {
    text-align: center;
}

.page-node-type-projects #block-views-block-project-overview-page-block-4 .views-field.views-field-nothing-1 .field-content {
    position: absolute;
    bottom: 50px;
    z-index: 1;
}

.page-node-type-projects #block-views-block-project-overview-page-block-4 .views-field.views-field-nothing-1 a {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    border-radius: 100%;
    border: 2px solid #fff;
    padding: 10px 15px;
}

.page-node-type-projects #block-views-block-project-overview-page-block-4 .flex-caption .caption .project-type {
    padding: 10px;
    text-transform: uppercase;
    border: 2px solid;
    border-radius: 100px;
}

.page-node-type-projects #block-views-block-project-overview-page-block-4 .flex-caption .caption .project-rera ul {
    padding: 0;
}

.page-node-type-projects #block-views-block-project-overview-page-block-4 .flex-caption .caption .project-rera ul li {
    list-style: none;
    font-family: 'robotoregular', sans-serif;
}

.page-node-type-projects #block-views-block-project-overview-page-block-4 .flex-caption .rera-label {
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.page-node-type-projects #block-views-block-project-overview-page-block-4 .flex-caption .rera-number {
    margin-top: 5px;
}

.page-node-type-projects #block-views-block-project-overview-page-block-4 .flexslider {
    margin-bottom: 0;
}

.page-node-type-projects #block-views-block-project-overview-page-block-5 {
    padding: 30px 0 60px 0;
    position: relative;
}

.page-node-type-projects #block-views-block-project-overview-page-block-5 h2.block-title {
    font-size: 42px;
    font-family: 'open_sanslight', sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.page-node-type-projects #block-views-block-project-overview-page-block-5 h2.block-title:after {
    content: '';
    position: absolute;
    left: 0;
    top: 110px;
    right: 0;
    width: 150px;
    height: 1px;
    margin: auto;
    background: rgba(0,0,0,.15);
}

.page-node-type-projects #block-views-block-project-overview-page-block-5 .field--name-field-font-awesome-icon {
    margin-left: 52px;
}

.page-node-type-projects #block-views-block-project-overview-page-block-5 .field--name-field-font-awesome-icon .fontawesome-icons {
    width: 180px;
    height: 180px;
    border: 1px solid #ccc;
    font-size: 85px;
    line-height: 180px;
    color: #5C6D7F;
    box-shadow: none;
    background: #fff;
    transition: box-shadow 0.5s, border 0.5s, text-shadow 0.5s;
    text-shadow: 3px 3px 7px rgb(0 0 0 / 40%);
    border-radius: 100px;
    text-align: center;
}

.page-node-type-projects #block-views-block-project-overview-page-block-5 .field--name-field-font-awesome-icon .fontawesome-icons:hover {
    border: 1px solid #fff;
    box-shadow: 10px 10px 10px #ccc;
    text-shadow: none;
}

.page-node-type-projects #block-views-block-project-overview-page-block-5 .field--name-field-font-awesome-text {
    text-align: center;
    margin-top: 20px;
    font-size: 21px;
    color: #333;
    line-height: 26px;
}

.page-node-type-projects #block-views-block-project-overview-page-block-6 {
    padding: 30px 0 50px 0;
    background: url(../images/page_4.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    border: 0;
    position: relative;
}

.grey_overlay:before {
    background: rgba(0,0,0,0.3);
}

.sepia_overlay:before,
.light_overlay:before,
.grey_overlay:before, 
.dark_overlay:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.page-node-type-projects #block-views-block-project-overview-page-block-6 h2.block-title {
    font-size: 42px;
    font-family: 'open_sanslight', sans-serif;
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
}

.page-node-type-projects #block-views-block-project-overview-page-block-6 h2.block-title:after {
    content: '';
    position: absolute;
    left: 0;
    top: 110px;
    right: 0;
    width: 150px;
    height: 1px;
    margin: auto;
    background: rgba(255,255,255,.5);
}

.page-node-type-projects #block-views-block-project-overview-page-block-6 .views-field-body p {
    float: left;
    width: 100%;
    color: #ddd;
    line-height: 25px;
    text-align: justify;
    padding: unset;
    font-size: 17px;
}

.page-node-type-projects #block-views-block-project-overview-page-block-7 {
    padding: 30px 0 10px 0;
    position: relative;
}

.page-node-type-projects #block-views-block-project-overview-page-block-7 h2.block-title {
    font-size: 42px;
    font-family: 'open_sanslight', sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.page-node-type-projects #block-views-block-project-overview-page-block-7 h2.block-title:after {
    content: '';
    position: absolute;
    left: 0;
    top: 110px;
    right: 0;
    width: 150px;
    height: 1px;
    margin: auto;
    background: rgba(0,0,0,0.3);
}

.page-node-type-projects #block-views-block-project-overview-page-block-7 .flex-direction-nav a {
    background: #000;
    width: 30px;
    height: 55px;
    margin: -19px -10px 0;
}

.page-node-type-projects #block-views-block-project-overview-page-block-7 .flex-direction-nav a:before {
    color: #fff;
}

.page-node-type-projects #block-views-block-project-overview-page-block-8 {
    padding: 30px 0 50px;
    color: #000;
    background: url(../images/page_6.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    border: 0;
    text-align: center;
    position: relative;
}

.page-node-type-projects #block-views-block-project-overview-page-block-8 h2.block-title {
    font-size: 42px;
    font-family: 'open_sanslight', sans-serif;
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
}

.page-node-type-projects #block-views-block-project-overview-page-block-8 h2.block-title:after {
    content: '';
    position: absolute;
    left: 0;
    top: 110px;
    right: 0;
    width: 150px;
    height: 1px;
    margin: auto;
    background: rgba(255,255,255,.5);
}

.page-node-type-projects #block-views-block-project-overview-page-block-8 .views-field.views-field-field-floor-plans {
    padding: 5px;
}

.page-node-type-projects #block-views-block-project-overview-page-block-8 .field--name-field-apartment-image {
    background: #fff;
    padding: 50px 0;
}

.page-node-type-projects #block-views-block-project-overview-page-block-8 .field--name-field-apartment-image img {
    display: unset;
}

.page-node-type-projects #block-views-block-project-overview-page-block-8 .views-row {
    margin-bottom: 20px;
}

.page-node-type-projects #block-views-block-project-overview-page-block-8 .field--name-field-apartment-type {
    font-size: 16px;
}

.page-node-type-projects #block-views-block-project-overview-page-block-8 .field--name-field-apartment-size {
    font-size: 12px
}

.page-node-type-projects #block-views-block-project-overview-page-block-8 .floor-type-size {
    background: #21314c;
    padding: 5px 0;
    font-family: 'robotoregular';
    color: #fff;
    text-transform: uppercase;
}

.page-node-type-projects #block-views-block-project-overview-page-block-9 {
    padding: 30px 0 50px;
    text-align: center;
    position: relative;
}

.page-node-type-projects #block-views-block-project-overview-page-block-9 h2.block-title {
    font-size: 42px;
    font-family: 'open_sanslight', sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.page-node-type-projects #block-views-block-project-overview-page-block-9 h2.block-title:after {
    content: '';
    position: absolute;
    left: 0;
    top: 110px;
    right: 0;
    width: 150px;
    height: 1px;
    margin: auto;
    background: rgba(0,0,0,0.3);
}

.page-node-type-projects #block-views-block-project-overview-page-block-10 {
    padding: 30px 0 50px;
    background: #f5f5f5;
    position: relative;
}

.page-node-type-projects #block-views-block-project-overview-page-block-10 .col-1 .views-field-field-other-data h2.block-title,
.page-node-type-projects #block-views-block-project-overview-page-block-10 .col-3 .views-field-field-other-data h2.block-title {
    font-size: 42px;
    font-family: 'open_sanslight', sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.page-node-type-projects #block-views-block-project-overview-page-block-10 .col-2 .views-field-field-other-data h2.block-title,
.page-node-type-projects #block-views-block-project-overview-page-block-10 .col-4 .views-field-field-other-data h2.block-title {
    font-size: 42px;
    font-family: 'open_sanslight', sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.page-node-type-projects #block-views-block-project-overview-page-block-10 .views-field-field-other-data {
    position: relative;
}

.page-node-type-projects #block-views-block-project-overview-page-block-10 .col-1 .views-field-field-other-data h2.block-title:after,
.page-node-type-projects #block-views-block-project-overview-page-block-10 .col-3 .views-field-field-other-data h2.block-title:after {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    top: 60px;
    width: 150px;
    height: 1px;
    margin: auto;
    background: rgba(0,0,0,0.3);
}

.page-node-type-projects #block-views-block-project-overview-page-block-10 .col-2 .views-field-field-other-data h2.block-title:after,
.page-node-type-projects #block-views-block-project-overview-page-block-10 .col-4 .views-field-field-other-data h2.block-title:after {
    content: '';
    position: absolute;
    top: 60px;
    left: 0;
    right: 0px;
    width: 150px;
    height: 1px;
    margin: auto;
    background: rgba(0,0,0,0.3);
}

.page-node-type-projects #block-views-block-project-overview-page-block-10 .views-field-field-other-data img {
    height: 400px;
    padding: 0 20px;
}

.page-node-type-projects #block-views-block-project-overview-page-block-11 {
    padding: 30px 0 40px;
    text-align: center;
    position: relative;
}

.page-node-type-projects #block-views-block-project-overview-page-block-11 h2.block-title {
    font-size: 42px;
    font-family: 'open_sanslight', sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.page-node-type-projects #block-views-block-project-overview-page-block-11 h2.block-title:after {
    content: '';
    position: absolute;
    left: 0;
    top: 110px;
    right: 0;
    width: 150px;
    height: 1px;
    margin: auto;
    background: rgba(0,0,0,0.3);
}

.page-node-type-projects #block-views-block-project-overview-page-block-11 .field--name-field-media-oembed-video iframe {
    width: 100%;
    height: 500px;
    margin-bottom: 10px;
}

.page-node-type-projects #block-views-block-project-overview-page-block-12 {
    padding: 30px 0 30px;
    text-align: center;
    background: #f5f5f5;
    position: relative;
}

.page-node-type-projects #block-views-block-project-overview-page-block-12 h2.block-title {
    font-size: 42px;
    font-family: 'open_sanslight', sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.page-node-type-projects #block-views-block-project-overview-page-block-12 h2.block-title:after {
    content: '';
    position: absolute;
    left: 0;
    top: 110px;
    right: 0;
    width: 150px;
    height: 1px;
    margin: auto;
    background: rgba(0,0,0,0.3);
}

.page-node-type-projects #block-views-block-project-overview-page-block-12 img {
    height: 300px;
}

.page-node-type-projects #block-views-block-project-overview-page-block-12 .views-col {
    padding: 0 10px;
}

.page-node-type-projects #block-views-block-project-overview-page-block-12 .views-row {
    margin-bottom: 20px;
}

.page-node-type-projects #block-views-block-project-overview-page-block-12 .block-grid, .blazy.block-grid, .item-list > .block-grid {
    margin: 0;
}

.page-node-type-projects #block-views-block-project-overview-page-block-13 {
    padding: 30px 0 40px;
    text-align: center;
    position: relative;
}

.page-node-type-projects #block-views-block-project-overview-page-block-13 .views-field-field-builder-details h2:first-child {
    font-size: 42px;
    font-family: 'open_sanslight', sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.page-node-type-projects #block-views-block-project-overview-page-block-13 .views-field-field-builder-details h2:first-child a {
    text-decoration: none;
    color: #333333;
    pointer-events: none;
    cursor: default;
}

.page-node-type-projects #block-views-block-project-overview-page-block-13 .views-field-field-builder-details h2:first-child:after {
    content: '';
    position: absolute;
    left: 0;
    top: 110px;
    right: 0;
    width: 150px;
    height: 1px;
    margin: auto;
    background: rgba(0,0,0,0.3);
}

.page-node-type-projects #block-views-block-project-overview-page-block-13 .field--name-description p {
    line-height: 25px;
    text-align: justify;
    font-size: 17px;
}

.page-node-type-projects #block-views-block-project-overview-page-block-14 {
    padding: 30px 0 0;
    text-align: center;
    position: relative;
}

.page-node-type-projects #block-views-block-project-overview-page-block-14 h2.block-title {
    font-size: 42px;
    font-family: 'open_sanslight', sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.page-node-type-projects #block-views-block-project-overview-page-block-14 h2.block-title:after {
    content: '';
    position: absolute;
    left: 0;
    top: 110px;
    right: 0;
    width: 150px;
    height: 1px;
    margin: auto;
    background: rgba(0,0,0,0.3);
}

.page-node-type-projects #block-views-block-project-overview-page-block-15 .views-field-field-map-image img {
    margin-bottom: 5px;
}

.page-node-type-projects .slick-arrow::before {
    font-size: 3.25rem;
}

.page-node-type-projects #block-webform-2 {
    padding: 15px 15px 40px 15px;
    color: #fff;
    background: url(../images/page_9.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    border: 0;
    text-align: center;
    position: relative;
}

.page-node-type-projects .webform-submission-get-in-touch-form {
    width: 50%;
    margin: 0 auto;
}

.page-node-type-projects #block-webform-2 h2.block-title {
    font-size: 42px;
    font-family: 'open_sanslight', sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.page-node-type-projects #block-webform-2 h2.block-title:after {
    content: '';
    position: absolute;
    left: 0;
    top: 110px;
    right: 0;
    width: 150px;
    height: 1px;
    margin: auto;
    background: rgba(255,255,255,.5);
}

.page-node-type-projects #block-webform-2 #edit-name {
    width: 49%;
    float: left;
    margin-right: 11px;
    border-radius: unset;
    height: 50px;
}

.page-node-type-projects #block-webform-2 #edit-email {
    width: 49%;
    border-radius: unset;
    height: 50px;
}

.page-node-type-projects #block-webform-2 #edit-mobile-number-phone {
    border-radius: unset;
    height: 50px;
}

.page-node-type-projects #block-webform-2 #edit-message {
    border-radius: unset;
}

.page-node-type-projects #block-webform-2 #edit-actions #edit-actions-submit {
    height: 50px;
    width: 47%;
    border-radius: unset;
}

.page-node-type-projects #block-webform-2 #edit-actions #edit-actions-reset {
    height: 50px;
    width: 47%;
    border-radius: unset;
}

.page-node-type-projects #block-webform-2 .form-item-mobile-number-phone .iti--allow-dropdown {
    width: 100%;
}

.page-node-type-projects #block-webform-2 #edit-mobile-number--wrapper {
    margin-bottom: 15px;
}

.page-node-type-projects #block-projectfooter {
    text-align: center;
    letter-spacing: 0.7px;
    margin-bottom: 15px;
}

.page-node-type-projects .footer {
    padding: 30px 30px 15px 30px;
}

.page-node-type-projects .footer #block-footertwo {
    border-top: 1px solid #c3c3c3;
}

.page-node-type-projects #block-projectfooter a {
    color: #eedfcc;
}

#block-webform-3 {
  display: none;
}

#block-webform-4 {
  display: none;
}

.simple-popup-blocks-global .spb-popup-main-wrapper {
    padding: 1px;
    border: unset;
    margin-top: 50px;
}

.page-node-type-projects #block-webform-3,
.page-node-type-projects #block-webform-4 {
    padding: 30px 30px;
    /* background: url(../images/page_11.jpg) no-repeat center center; */
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0,0,0,.55);
}


.page-node-type-projects #block-webform-3:before,
.page-node-type-projects #block-webform-4:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 35%, rgba(0,0,0,0.3) 65%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 35%,rgba(0,0,0,0.3) 65%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 35%,rgba(0,0,0,0.3) 65%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 35%,rgba(0,0,0,0.3) 65%,rgba(0,0,0,0) 100%);
}

.page-node-type-projects #block-webform-3 h2.block-title,
.page-node-type-projects #block-webform-4 h2.block-title {
    z-index: 0;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 42px;
    font-weight: 400;
    font-family: 'open_sanslight', sans-serif;
}

.page-node-type-projects #block-webform-3 h2.block-title:after,
.page-node-type-projects #block-webform-4 h2.block-title:after {
    content: '';
    position: absolute;
    left: 0;
    top: 60px;
    right: 0;
    width: 150px;
    height: 1px;
    margin: auto;
    background: rgba(255,255,255,.5);
}

.page-node-type-projects #block-webform-3 .webform-submission-project-popup-form,
.page-node-type-projects #block-webform-4 .webform-submission-project-popup-click-form {
    margin-top: 50px;
    z-index: 0;
    position: relative;
}

.page-node-type-projects #block-webform-3 .webform-submission-project-popup-form .form-item input,
.page-node-type-projects #block-webform-4 .webform-submission-project-popup-click-form .form-item input {
    height: 45px;
    border-radius: unset;
    background: rgba(255, 255, 255, .15);
    border: unset;
    color: #fff;
}

.page-node-type-projects #block-webform-3 .webform-submission-project-popup-form .form-item textarea,
.page-node-type-projects #block-webform-4 .webform-submission-project-popup-click-form .form-item textarea {
    border-radius: unset;
    background: rgba(255, 255, 255, .15);
    border: unset;
    color: #fff;
}

.page-node-type-projects #block-webform-3 .webform-submission-project-popup-form .form-item input::placeholder,
.page-node-type-projects #block-webform-3 .webform-submission-project-popup-form .form-item textarea::placeholder,
.page-node-type-projects #block-webform-4 .webform-submission-project-popup-click-form .form-item input::placeholder,
.page-node-type-projects #block-webform-4 .webform-submission-project-popup-click-form .form-item textarea::placeholder {
    color: #fff;
}

.page-node-type-projects #block-webform-3 .webform-submission-project-popup-form .form-item-mobile-number-phone,
.page-node-type-projects #block-webform-4 .webform-submission-project-popup-click-form .form-item-mobile-number-phone {
    margin-bottom: 0px;
}

.page-node-type-projects #block-webform-3 .webform-submission-project-popup-form .description,
.page-node-type-projects #block-webform-4 .webform-submission-project-popup-click-form .description {
    color: #fff;
    margin-bottom: 15px;
}

.page-node-type-projects #block-webform-3 .webform-submission-project-popup-form .form-item-mobile-number-phone .iti--allow-dropdown,
.page-node-type-projects #block-webform-4 .webform-submission-project-popup-click-form .form-item-mobile-number-phone .iti--allow-dropdown {
    width: 100%;
}

.page-node-type-projects #block-webform-3 .webform-submission-project-popup-form .form-item-mobile-number-phone .form-item--error-message,
.page-node-type-projects #block-webform-4 .webform-submission-project-popup-click-form .form-item-mobile-number-phone .form-item--error-message {
    color: #fff;
    font-weight: normal;
}

.page-node-type-projects #block-webform-3 .webform-submission-project-popup-form #edit-actions-submit,
.page-node-type-projects #block-webform-3 .webform-submission-project-popup-form #edit-actions-reset,
.page-node-type-projects #block-webform-4 .webform-submission-project-popup-click-form #edit-actions-submit,
.page-node-type-projects #block-webform-4 .webform-submission-project-popup-click-form #edit-actions-reset {
    width: 48%;
    border-radius: unset;
    height: 45px;
    text-transform: uppercase;
    margin-right: unset;
}

.page-node-type-projects #block-webform-3 .webform-submission-project-popup-form #edit-actions-reset,
.page-node-type-projects #block-webform-4 .webform-submission-project-popup-click-form #edit-actions-reset {
    float: right;
}

.page-node-type-projects #block-webform-2 .webform-submission-get-in-touch-form .form-item-mobile-number-phone,
.page-node-type-page #block-webform .webform-submission-contact-form .form-item-mobile-number-phone {
    margin-bottom: 0px!important;
}

.page-node-type-page #block-webform .webform-submission-contact-form .webform-telephone--wrapper {
    margin-bottom: 15px;
}

.page-node-type-projects #block-webform-2 .webform-submission-get-in-touch-form .webform-telephone--wrapper .description {
    float: left;
}

#block-webform .webform-submission-contact-form .form-item-phone-number .iti {
    width: 100%;
}

.page-node-type-projects #block-webform-3 .webform-submission-project-popup-form .form-item-phone-number .iti {
    width: 100%;
}

.page-node-type-projects #block-webform-3 .webform-submission-project-popup-form .form-item-phone-number .form-item--error-message {
    color: #fff;
}

.page-node-type-projects #block-webform-2 .webform-submission-get-in-touch-form .form-item-phone-number .iti {
    width: 100%;
}

.page-node-type-projects #block-webform-2 .webform-submission-get-in-touch-form .form-item-phone-number .iti input {
    height: 50px;
}

.page-node-type-projects #block-webform-2 .webform-submission-get-in-touch-form .form-item-phone-number .form-item--error-message {
    float: left;
    margin-bottom: 10px;
}

#block-webform .webform-submission-contact-form .form-item input {
    height: 42px;
    border-radius: unset;
    width: 100%;
}

#block-webform .webform-submission-contact-form .form-item-mobile-number-phone .iti--allow-dropdown {
    width: 100%;
}

#block-webform .webform-submission-contact-form .form-item-mobile-number-phone {
    margin-bottom: 15px;
}

#block-webform .webform-submission-contact-form .form-actions button,
.page-node-type-projects #block-webform-3 .webform-submission-project-popup-form button,
.page-node-type-projects #block-webform-4 .webform-submission-project-popup-click-form button {
    border-radius: unset;
    font-size: 16px;
}

#block-projectnavigation-2 .nav li a {
    color: #fff;
}

#block-projectnavigation-2 .nav > li > a:hover,
#block-projectnavigation-2 .nav > li > a:focus {
    background-color: transparent;
}

.navbar-toggle {
    z-index: 1;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.view-search .views-field-field-slider-image .field-content article {
    display: none;
}
.view-search .views-field-field-slider-image .field-content article:first-child {
    display: block;
}

.view-search .views-field-field-slider-image .field-content article div:nth-child(2) {
    display: none;
}

.view-search .views-field-field-project-type .project_floor_plan {
    margin-left: 10px
}

/* ========================= Responsiv Screen Style Start ========================= */

#block-mainnavigation {
    display: none;
}

#block-projectnavigation-2 {
    display: none;
}

.iti-mobile .iti--container {
    z-index: 999999; 
}

/* ========================= Responsiv Screen Style End ========================= */

/* ========================= Mobile Sortcuts Style Start ========================= */

.mobile_shortcuts {
    float: left;
    width: 100%;
    display: none;
}

.mobile_shortcuts .view-display-id-block_16 .contextual {
    position: unset;
}

.mobile_shortcuts .view-display-id-block_16 .mobile-btns .whatsapp-btn {
    display: inline-block;
    width: 50%;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 0px 0px 0px;
}

.mobile_shortcuts .view-display-id-block_16 .mobile-btns .call-btn {
    display: inline-block;
    float: right;
    width: 50%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.mobile_shortcuts .view-display-id-block_16 .mobile-btns .call-btn i.fa.fa-angle-double-left {
    margin-top: 14px;
}

.mobile_shortcuts .view-display-id-block_16 .mobile-btns .whatsapp-btn i.fa-whatsapp {
    font-size: 28px;
    background: green;
    border-radius: 50%;
    margin-left: 10px;
}

.mobile_shortcuts .view-display-id-block_16 .mobile-btns .call-btn i.fa-phone {
    font-size: 10px;
    border-radius: 50%;
    border: 2px solid;
    padding: 6px 5px 5px 6px;
    background: green;
    margin-right: 10px
}

.mobile_shortcuts .view-display-id-block_16 {
    padding: 10px;
    background: #5C6D7F;
}

/* ========================= Mobile Sortcuts Style End ========================= */


/* ========================= Extra Style Start ========================= */
.page-node-65 #block-views-block-project-overview-page-block-1 .views-field-field-logo-icon img {
    width: 65px;
}

.page-node-type-projects #block-preproject-views-block-project-overview-page-block-17 {
    float: left;
}

/* ========================= Extra Style End ========================= */